@charset "UTF-8";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
.banner {
	font-family: Arial, Helvetica, sans-serif;
    width:719px;
    height:81px;
    border:4px solid #007a85;
    overflow:hidden;
    display:block !important;
/*	background: url(back.png);
*/}
strong {
    font-weight: bold;
}
sup {
    font-size: 6px;
    position: relative;
    bottom: 3.5px;
}
.positionAb {
    position: absolute;
}
.aC {
    left:0;
    right:0;
    margin: 0 auto;
}

#areaLogo{
top:14px;
left:346px;
width:116px;
height: 43px;
z-index: 1;
cursor: pointer;
cursor: hand;
}


#footer{
background-color: #007a85;
    height: 14px;
    width: 234px;
    bottom: 0px;
    right: 0px;
    z-index: 990;
	}
	
#pi{
		font-family:Arial, Helvetica, sans-serif;
		color: #FFF;
		font-size:8px;
		top:5px;
        left: 7px;
        text-decoration: underline;
	}
#mg{
		font-family:Arial, Helvetica, sans-serif;
		color: #FFF;
		font-size:8px;
		top:5px;
		right: 7px;
        text-decoration: underline;
	}
#banner_content{
    display:none;
}


#img2{
    background: url(img2.png);
    width: 728px;
    height: 90px;
	opacity:1;
    z-index: 1;
}

#pill{
    background: url(pill.png);
    width: 728px;
    height: 90px;
    opacity:1;
    z-index: 1;
}
#img3{
    background: url(img3.png);
    width: 728px;
    height: 90px;
	opacity:1;
    z-index: 1;
}
#img4{
    background: url(img4.png);
    width: 728px;
    height: 90px;
	opacity:1;
    z-index: 1;
}



#cta{
    background: url(cta.png);
    bottom: -2px;
    width: 728px;
    height: 90px;
    opacity:1;
    z-index: 23;
}


#clickTag{
    cursor: pointer;
    width: 100%;
    height: 90px;
    z-index: 150;
}


#replay{
    z-index: 152;
    width: 15px;
    height: -17px;
    position: absolute;
    right: -42px;
    top: 2px;
    display: block;
    -webkit-transition:  -webkit-transform 0.8s;
    transition:  transform 0.8s;
    cursor: pointer;
    cursor: hand;
}

#replay:hover{
     -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* ////////////////// SCROLLER STYLES ///////////////////////  */

#scroll_container {
 
    bottom: 0px;
    right: 0px;
    background: #fff;
    z-index: 300;
    opacity: 1;
}

.ssb_down {   /* boton abajo */
    width: 9px!important;
    background-color: green;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ssb_up {    /* boton arriba */
    width: 9px!important;
    background-color: blue;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;    
}

.ssb_sb {    /* cursor scroll */
      background: url(dl_middle.gif) repeat left top;
    cursor: pointer;
    position: absolute;
    right: 10px;
    min-height: 12px;
}

.ssb_sb_down {
    background: url(dl_middle.gif) repeat left top
}

.ssb_sb_over {   
    background: url(dl_middle.gif) repeat left top
}

.ssb_st {     /* guia de cursor */
background: #bebebe;
    cursor: pointer;
    height: 60%;
    position: absolute;
    width: 2px!important;
    right: 13px;
    top: 15px;

}



/* ////////////////////////////////////////////////////////////////  */
#h2_fontSize{
    font-size: 12px;
    /*margin-bottom: 5px;*/
    margin-top: 2px;
}

#innerwrap {
   padding: 10px 40px 10px 10px;
}


#innerwrap h2 {
    font-size: 11px;
    color: #000;
    /*margin-bottom: 5px;*/
    margin-top: 2px;
}
table{ font-size: 10px;
    color: #000;
    padding-bottom: 4px;
    letter-spacing: -0.1px;
	}
	td{padding-bottom: 2px;}

#innerwrap p,
#innerwrap ul li {
    font-size: 10px;
    color: #000;
    padding-bottom: 2px;
    letter-spacing: -0.1px;
}

#innerwrap ul li {
    margin-left: 15px
}

#innerwrap p a {
    color: #000
}


#innerwrap li sup {
	top:1px;
	font-size: 6px;
    font-weight: 400;
    padding-left: 0px;
}

#innerwrap p.copy {
    font-size: 12px;
    padding-bottom: 0
}

#parent {
    margin: 0 30px 0 0;
}
.legal-links {

    position: absolute;
    cursor: pointer;
}
#prescribing-info {
  top: 4px;
left: 5px;
width: 91px;
height: 35px;
}
#patient-info {
top: 4px;
left: 95px;
width: 75px;
height: 34px;
}
#enLogo-info {
width: 100px;
height: 30px;
top: 4px;
left: 195px;
}

#mg, #medwatch, #pi{
    cursor: hand;
    cursor: pointer;
}
