@charset "UTF-8";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

.banner {
    font-family: Arial, Helvetica, sans-serif;
    width: 720px;
    height: 81px;
    border: 4px solid #007a85;
    overflow: hidden;
    display: block !important;
}

strong {
    font-weight: bold;
}

sup {
    font-size: 6px;
    position: relative;
    bottom: 3.5px;
}

.positionAb {
    position: absolute;
}

.aC {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#areaLogo{
top:7px;
left:337px;
width:97px;
height: 46px;
z-index: 1;
cursor: pointer;
cursor: hand;
}

#footer{
background-color: #007a85;
    height: 14px;
    width: 235px;
    bottom: 0px;
    right: 0px;
    z-index: 990;
    }
    
#pi{
        font-family:Arial, Helvetica, sans-serif;
        color: #FFF;
        font-size:8px;
        top:5px;
        left: 7px;
        text-decoration: underline;
    }
#mg{
        font-family:Arial, Helvetica, sans-serif;
        color: #FFF;
        font-size:8px;
        top:5px;
        right: 7px;
        text-decoration: underline;
    }
#banner_content {
    display: none;
}

#imagen {
    background: url(imagen.jpg);
    width: 728px;
    height: 90px;
    z-index: 2;
    left: -70px;
    top: 0;
}

#imagen2 {
    background: url(background.jpg);
    width: 728px;
    height: 90px;
    z-index: 2;
    lefdisplayt: 0;
    top: 0;
}

#img1 {
    background: url(img1.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 10;
    left:-5px;
    top:-4px;
}

#pill {
    background: url(pill.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 8;
    top:-4px;
    left:-2px;
}
#ctaMask{
    top:-4;
    left: 331px;
    width: 141px;
    height: 90px;
    z-index: 6;
    overflow: hidden;
}
#cta {
    background: url(cta.png);
    top:-4px;
    left:-331px;
    width: 728px;
    height: 90px;
    z-index: 5;

}

#text1 {
    background: url(text1.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 2;
    left:0px;
    top:-4px;
}

#text2 {
    background: url(text2.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 2;
    left:0px;
    top:-4px;
}

#text3 {
    background: url(text3.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 2;
    left:0px;
    top:-4px;
}

#text4 {
    background: url(text4.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 2;
    left:0px;
    top:-4px;
}

#f1text1 {
    background: url(f1text1.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 3;
    left:-4px;
    top:-7px;
}

#f1text2 {
    background: url(f1text2.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 3;
    left:-4px;
    top:-7px;
}

#f1text3 {
    background: url(f1text3.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 3;
    left:-4px;
    top:-7px;
}

#f1text4 {
    background: url(f1text4.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 3;
    left:-4px;
    top:-7px;
}

#f1text5 {
    background: url(f1text5.png);
    width: 728px;
    height: 90px;
    opacity: 1;
    z-index: 3;
    left:-4px;
    top:-7px;
}

#clickTag {
    cursor: pointer;
    width: 100%;
    height: 600px;
    z-index: 150;
}


#replay {
    z-index: 152;
    width: 15px;
    height: -17px;
    position: absolute;
    right: -42px;
    top: 2px;
    display: block;
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    cursor: pointer;
    cursor: hand;
}

#replay:hover {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}



/* ////////////////// SCROLLER STYLES ///////////////////////  */

#scroll_container {
    bottom: -50px;
    right: 0px;
    background: #fff;
    z-index: 300;
    opacity: 0;
}

.ssb_down {
    /* boton abajo */
    width: 9px!important;
    background-color: green;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ssb_up {
    /* boton arriba */
    width: 9px!important;
    background-color: blue;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.ssb_sb {
    /* cursor scroll */
    background: url(dl_middle.gif) repeat left top;
    cursor: pointer;
    position: absolute;
    right: 10px;
    min-height: 12px;
}

.ssb_sb_down {
    background: url(dl_middle.gif) repeat left top
}

.ssb_sb_over {
    background: url(dl_middle.gif) repeat left top
}

.ssb_st {
    /* guia de cursor */
    background: #bebebe;
    cursor: pointer;
    height: 65%;
    position: absolute;
    width: 2px!important;
    right: 13px;
    top: 15px;
}





/* ////////////////////////////////////////////////////////////////  */
#h2_fontSize{
    font-size: 12px;
    /*margin-bottom: 5px;*/
    margin-top: 2px;
}
#innerwrap {
    padding: 15px 40px 0px 10px;
}


#innerwrap h2 {
    font-size: 11px;
    color: #000;
    /*margin-bottom: 5px;*/
    margin-top: 2px;
}

table {
    font-size: 10px;
    color: #000;
    padding-bottom: 4px;
    letter-spacing: -0.1px;
}

td {
    padding-bottom: 2px;
}

#innerwrap p,
#innerwrap ul li {
    font-size: 10px;
    color: #000;
    padding-bottom: 2px;
    letter-spacing: -0.1px;
}

#innerwrap ul li {
    margin-left: 15px
}

#innerwrap p a {
    color: #000
}


#innerwrap li sup {
    top: 1px;
    font-size: 6px;
    font-weight: 400;
    padding-left: 0px;
}

#innerwrap p.copy {
    font-size: 12px;
    padding-bottom: 0
}

#parent {
    margin: 0 30px 0 0;
}

.legal-links {

    position: absolute;
    cursor: pointer;
}

#prescribing-info {
    top: 4px;
    left: 5px;
    width: 91px;
    height: 35px;
}

#patient-info {
    top: 4px;
    left: 95px;
    width: 75px;
    height: 34px;
}

#enLogo-info {
    width: 100px;
    height: 30px;
    top: 4px;
    left: 195px;
}

#mg,
#medwatch,
#pi {
    cursor: hand;
    cursor: pointer;
}