@charset "UTF-8";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}
.banner {
	font-family: Arial, Helvetica, sans-serif;
    width:298px; height:248px;
    border:1px solid #333;
    overflow:hidden;
    display:block !important;
	/* background: url(background.jpg); */
}
strong {
    font-weight: bold;
}
sup {
    font-size: 6px;
    position: relative;
    bottom: 3.5px;
}
.positionAb {
    position: absolute;
}
.aC {
    left:0;
    right:0;
    margin: 0 auto;
}

#footer{
      background-color: #007b84;
    height: 20px;
    width: 300px;
    z-index: 5566;
    bottom: -3px;
    padding-top: 2px;
    padding-bottom: 2px;
 
	}
	
#areaLogo{
top:106px;
left:16px;
width:109px;
height: 53px;
z-index: 1;
cursor: pointer;
cursor: hand;
}

#areaCta{
 top:119px;
left:155px;
width:138px;
height: 26px;
z-index: 2;
cursor: pointer;
cursor: hand;   
}

#pi{
  font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 9px;
    top: 6px;
    left: 4px;
    
    }

#pi strong, #mg strong {
  text-decoration: underline;
}
#mg{
        font-family:Arial, Helvetica, sans-serif;
        color: #fff;
        font-size:9px;
        top:6px;
        left: 193px;
    }


#banner_content{
    display:none;
}


#img1{
    background: url(img1.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 10;
	
}

#pill{
    background: url(pill.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 3;
}

#cta{
    background: url(cta.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 1;
}

#text1{
    background: url(text1.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 2;
}
#text2{
    background: url(text2.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 2;
}
#text3{
    background: url(text3.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 2;
}
#text4{
    background: url(text4.png);
    width: 300px;
    height: 160px;
	opacity:1;
    z-index: 2;
}

#clickTag{
    cursor: pointer;
    width: 100%;
    height: 160px;
    z-index: 150;
}


#replay{
    z-index: 152;
    width: 15px;
    height: -17px;
    position: absolute;
    right: -42px;
    top: 2px;
    display: block;
    -webkit-transition:  -webkit-transform 0.8s;
    transition:  transform 0.8s;
    cursor: pointer;
    cursor: hand;
}

#replay:hover{
     -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* ////////////////// SCROLLER STYLES ///////////////////////  */

#scroll_container {
 
    transform: translateY(167px);
    background: #fff;
    z-index: 300;
    opacity: 1;
    transition: transform .3s ease;
    
}

.ssb_down {   /* boton abajo */
    width: 9px!important;
    background-color: green;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ssb_up {    /* boton arriba */
    width: 9px!important;
    background-color: blue;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;    
}

.ssb_sb {    /* cursor scroll */
      /* background: url(dl_middle.gif) repeat left top; */
    cursor: pointer;
    position: absolute;
    right: 10px;
    min-height: 12px;
    background: #007b84;
    border-radius: 50px;
    width: 6px !important;
}

/* .ssb_sb_down {
    background: url(dl_middle.gif) repeat left top
}

.ssb_sb_over {   
    background: url(dl_middle.gif) repeat left top
} */

.ssb_st {     /* guia de cursor */
  background: #dfe0e1;
  cursor: pointer;
  height: 90%;
  position: absolute;
  width: 6px!important;
  right: 10px;
  top: 0px;
  border-radius: 50px;

}



/* ////////////////////////////////////////////////////////////////  */
#h2_fontSize{
    font-size: 12px;
    /*margin-bottom: 5px;*/
    margin-top: 2px;
}

#innerwrap {
   padding: 5px 40px 0 10px;
}


#innerwrap h2 {
    font-size: 11px;
    color: #000;
    /*margin-bottom: 5px;*/
    margin-top: 2px;
}
table{ font-size: 10px;
    color: #000;
    padding-bottom: 4px;
    letter-spacing: -0.1px;
	}
	td{padding-bottom: 2px;}

#innerwrap p,
#innerwrap ul li {
    font-size: 10px;
    color: #000;
    padding-bottom: 2px;
    letter-spacing: -0.1px;
}

#innerwrap ul li {
    margin-left: 15px
}

#innerwrap p a {
    color: #000
}


#innerwrap li sup {
	top:1px;
	font-size: 6px;
    font-weight: 400;
    padding-left: 0px;
}

#innerwrap p.copy {
    font-size: 12px;
    padding-bottom: 0
}

#parent {
    margin: 0 30px 0 0;
}
.legal-links {

    position: absolute;
    cursor: pointer;
}
#prescribing-info {
  top: 4px;
left: 5px;
width: 91px;
height: 35px;
}
#patient-info {
top: 4px;
left: 95px;
width: 75px;
height: 34px;
}
#enLogo-info {
width: 100px;
height: 30px;
top: 4px;
left: 195px;
}

#mg, #medwatch, #pi{
    cursor: hand;
    cursor: pointer;
}


.logobar {
  border-top: 3px solid #fcc427;
  border-bottom: 3px solid #fcc427;
  height: 40px;
  position: absolute;
  transform: translateY(119px);
  width: 100%;
  box-sizing: content-box;
  background: url(bar-bg.jpg);
  background-size: contain;
  margin-right: 0px;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 10;
}


.frame {
  height: 120px;
  position: absolute;
  top: 0;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.frame > * {
  width: 300px;
  height: 120px;
  position: absolute;
  transition: opacity .3s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.frame1__bg {
  background-image: url('f1-bg.jpg');
}


.frame1__headline {
  background-image: url('f1-h1.png');
  opacity: 0;
}

.frame1__headline2 {
  background-image: url('f1-h2.png');
  opacity: 0;

}

.frame1__headline3 {
  background-image: url('f1-h3.png');
  opacity: 0;

}

.frame1__headline4 {
  background-image: url('f1-h4.png');
  opacity: 0;

}

.frame1 {
  z-index: 1;
}

.frame2 {
  z-index: 0;
  background-image: url('end-frame.jpg');
}

